[submodule "frontend"]
	path = frontend
	url = https://github.com/cristinaAlarcon98/story-spark-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/cristinaAlarcon98/story-spark-backend
